@import "../../scss/values";
@import "../../scss/primaryButton";

.container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 4rem;

  // TEMP
  background-image: url("../assets/background.png");
  background-size: 50%;
  background-position: bottom right;
  background-repeat: no-repeat;
  overflow: hidden;
  // TEMP

  .nikodemmajzner {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 600;
    line-height: 5vw;
    @include mobile {
      font-size: 3.5rem;
      line-height: unset;
    }
  }
  @include mobile {
    .top {
      display: flex;
      align-items: end;
      height: 52.5%;
    }
  }
  @include desktop {
    .top,
    .bottom {
      width: 100%;
      height: 50%;
    }
    .top {
      display: flex;
      align-items: end;
    }
    .bottom {
      display: flex;
    }
  }
  .webdeveloper {
    font-size: 4vw;
    @include mobile {
      font-size: 2.7rem;
    }
    font-weight: 300;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
  }
  .kontakt {
    @include primaryButton;
    position: absolute;
    left: 4rem;
    bottom: 2rem;

    @include mobile {
      left: 50%;
      transform: translateX(-50%);
      bottom: 2rem;
    }
  }
}
