@import "../../values";
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  padding-top: calc(96px);
  text-align: center;
  min-height: 100vh;

  .container2 {
    height: 100%;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
  .react {
    width: 200px;
    margin: 4rem;
    animation: rotate 15s linear infinite;
  }

  .kontakt {
    background-color: $primaryDark;
    color: $primaryLight;
    padding: 1.5rem 4rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;

    box-shadow: 0 0.5rem 1rem rgba(15, 2, 1, 0.45);
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    transition: 0.3s;
    text-shadow: none;

    &:hover {
      box-shadow: 0 1rem 1.5rem rgba(15, 2, 1, 0.3);
      margin-top: 0rem;
      margin-bottom: 0.5rem;
      color: $primaryLight;
      text-shadow: 0rem 0rem 1rem rgba(255, 232, 190, 0.75);
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
