@import "../../values";

.navbar {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primaryLight;

  z-index: 100;

  height: 5rem;
  width: 100%;
  padding: 3rem 3rem;

  .btnWrapper {
    @include mobile {
      display: none;
      background-color: azure;
    }
  }
  .openModal {
    position: fixed;
    right: 2rem;
    top: 0.5rem;
    @include desktop {
      display: none;
    }
  }
  .menuIcon {
    width: 2rem;
    height: 2rem;
  }

  .navLogo {
    font: 400 1.6rem/1.3rem "Roboto Mono", monospace;
    text-transform: uppercase;
  }
  button {
    padding: 1.5rem;
    font-size: 1.7rem;
    font-weight: 300;
    cursor: pointer;

    border: none;
    background-color: unset;

    span {
      position: relative;
      cursor: pointer;
    }
    span::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: #0f0201;
      transition: width 0.15s ease-in-out;
      opacity: 40%;
    }
    &:hover span::after {
      width: 100%;
      opacity: 100%;
    }
  }
}
