.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 5rem;
  width: 100%;
  padding: 0rem 3rem;

  .navLogo {
    // font-size: 1.6rem;
    // line-height: 1.3rem;
    // letter-spacing: 0px;
    // font-weight: 400;
    // font-family: "Roboto Mono", monospace;
    font: 400 1.6rem/1.3rem "Roboto Mono", monospace;
    text-transform: uppercase;
  }
  button {
    padding: 1.5rem;
    font-size: 1.7rem;
    font-weight: 300;
    cursor: pointer;

    border: none;
    background-color: unset;
  }
}
