@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap");

html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffe8be;

  min-height: 200vh;

  &,
  button,
  input {
    color: #0f0201;
    font-family: "League Spartan", sans-serif;
  }
  main {
    padding-top: 100vh;
  }
}
