@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffe8be;

  font-family: "League Spartan", sans-serif;
  color: #0f0201;
}
