@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap");
dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
}
html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffe8be;

  &,
  button,
  input {
    color: #0f0201;
    font-family: "League Spartan", sans-serif;
  }
}
a {
  color: unset;
  text-decoration: unset;
}

// Night dev :) //włączam, kiedy koduję w nocy; NIE WYGLĄDA DOBRZE, ALE NIE KŁUJE W OCZY!
// body {
//   background-color: #252020;
//   background-image: unset;
// }
